<section class="admin-categories-index">
  <header class="page-header">
    <h1>Admin &raquo; All Categories</h1>
  </header>

  <div class="well">
    <%# [:new, :admin, :category] == new_admin_category_path == /admin/category/new >> gets created from adding :new to the route %>
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- @categories from Controller index method -->
      <!-- to check what @categories is : <%# raise @sales.inspect %> >>> shows error message <ActiveRecord::Relation []> meaning it's an array -->
      <!-- <%#= render @categories %> == <%# @sales.each do |s| %> 
                                          <%#= render 'sale', sale: s %> render partial 'sale' and pass in local variable sale: s -->
      <%= render @categories %>
    </tbody>
  </table>


</section>